<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account | OfficeHub</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/Css/Home_page.css">
    <link rel="stylesheet" href="/Css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- link(rel='shortcut icon', href='/Images/favicon.ico', type='image/x-icon') -->
    <link rel='shortcut icon' href='/Images/favicon.ico' type='image/x-icon' >
</head>

<body>
    <%- include('nav')%>
    <main class="m-6">
        <div class="max-w-6xl mx-auto p-6">
            <h1 class="mb-5 text-3xl text-[#7da4e3] font-bold">My account</h1>
            <div class="mb-6 w-100 bg-[#e2e8f0] rounded-xl grid grid-rows-2 grid-flow-col gap-4">
                <div class="p-6 row-span-3 col-span-12">

                    <% if (data) { %>
                    <div>Username: 
                        <%=  data.username  %>
                    </div>
                        
                    <div>E-mail:
                        <%=  data.email  %>
                        
                    </div>
                    
                    <div>Role:
                        <%=  data.role  %>
                        
                    </div>
                    <%} else {%>
                        <div>No User</div>
                    <% } %>
                </div>
                <div class="ml-80 pl-80 p-3 row-span-3 flex flex-col justify-center">
                    <a href="/logout" class="inline-block p-3 rounded-xl bg-[#FFFFFF] hover:bg-[#7da4e3] text-[#7da4e3] font-bold hover:text-[#FFFFFF] text-center">LOGOUT</a>
                </div>
            </div>
            <% if (data.role=="admin") { %>
            <div class="flex flex-row justify-left">
                <a href="/account/admin" class="border border-2 border-black mt-2 p-3 rounded-xl bg-[#FFFFFF] hover:bg-[#7da4e3] text-[#7da4e3] font-bold hover:text-[#FFFFFF] text-center">ADMIN</a>
            </div>
            <% } %>
        </div>
    </main>
    <%- include('footer')%>
</body>
</html>